.wrapper{
    max-width: 800px;
    height: 55vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    margin-bottom: 5px;
    outline: none;
}
.button{
    cursor: pointer;
}
.join_Block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}